.mainContainer {
	display: flex;
	flex-direction: column;
	font: normal 400 13px/1 'raleway', Arial, sans-serif;
}

.mainContainer h2 {
	font-size: 26px;
	font-family: 'raleway';
	color: #4f4f4f;
	font-weight: 300;
}

hr {
	height: 1px;
	border: 0;
	border-top: 1px solid #cccccc;
	margin: 20px 0px;
}
.redesSociales hr {
	width: 90px;
}

.redesSociales {
	color: #808080;
	margin-top: 50px;
	font-weight: 700;
	font-size: 12px;
}

.compartir {
	margin-bottom: 20px;
}

.facebook {
	width: 40px;
	height: 40px;
	background-color: #1877f2;
	border-radius: 50%;
	display: inline-block;
	position: relative;
	transition: all 0.1s linear;
}

.facebook:hover {
	background-color: #e9e9e9;
}

.facebook svg {
	width: 90%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	filter: invert(100%) sepia(0%) saturate(7461%) hue-rotate(31deg) brightness(109%) contrast(93%);
}

.twitter {
	width: 40px;
	height: 40px;
	background-color: #00acee;
	border-radius: 50%;
	display: inline-block;
	position: relative;
	transition: all 0.1s linear;
}

.twitter:hover {
	background-color: #e9e9e9;
}

.twitter svg {
	width: 90%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	filter: invert(100%) sepia(0%) saturate(7461%) hue-rotate(31deg) brightness(109%) contrast(93%);
}

h2 {
	margin-bottom: 20px;
}

.textContainer {
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: space-between;
}

.listContainer {
	width: 950px;
}

.list {
	font-size: 16px;
	color: #808080;
}

.liCategory {
	margin: 30px 0;
}

.liCategory {
	font-weight: bold;

	text-decoration: underline;
}

.descripcionIni {
	margin: 20px 0;
	line-height: 1.4;
}

.navLateral {
	padding: 30px 25px;
	border: 1px solid #cccccc;
	height: min-content;
	width: 300px;
}

.list ul li {
	padding: 10px 0;
	margin-left: 20px;
}

.navLateral h2 {
	font-size: 21px;
	font-weight: 400;
}

.navLateral ul li,
.navLateral ul li a {
	padding: 5px 0;
	font-size: 14px;
	color: #fd9007;
	list-style: none;
	margin-left: 0px;
}

.navLateral ul li {
	position: relative;
}

.navLateral ul li:hover,
.navLateral ul li:hover a {
	color: #464646;
}

.navLateral ul li a::before {
	content: "\00bb";
	position: absolute;
	left: -15px;
	top: 4px;
}

iframe {
	margin-top: 40px;
	width: 100%;
	height: 500px;
	margin-bottom: 10px;
}

p {
	font-size: 16px;
	color: #808080;
	text-indent: 20px;
}

h2.secundario {
	color: #808080;
	font-weight: 300;
	text-align: center;
	font-size: 22px;
}

.vimeoSlider img {
	width: 200px;
	height: auto;
	margin-left: 5px;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.1s linear;
}

.vimeoSlider img:hover,
.imgSelected {
	box-shadow: 0 0 2px blue;
	filter: grayscale(50%) brightness(110%);
}

.vimeoSlider {
	margin-left: 40px;
}

.redesSociales p {
	text-indent: 0px;
}
