* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}

body {
	font: normal 400 13px/1 'ralewayregular', Arial, sans-serif;
}

.header {
	width: 70%;
	left: 15%;
	background-color: rgba(0, 0, 0, 0.542);
	color: white;
	font-size: 16px;
	text-transform: uppercase;
	box-shadow: 0 2px 4px 0 #474747;
}
.headerContainer {
	position: absolute;
	background-image: url("../Imagenes/05/alcazaba-de-noche-homeimage-1280prog.jpg");
}

#headerNav {
	display: flex;
	flex-direction: row;
	justify-content: stretch;
	align-items: stretch;
	height: 100%;
	color: white;
}

#headerNav a,
.headerSub a {
	color: white;
	padding: 35px;
	display: block;
}

.headerSub {
	position: relative;
}

.headerSubElements {
	position: absolute;
	display: none;
	background-color: #fd9007;

	font-size: 15px;
	text-transform: capitalize;
	width: 100%;
}

.headerSub:hover .headerSubElements {
	display: block;
}

.headerSubElements a::before {
	content: "*";
	position: absolute;
	left: 20px;
	top: 50%;
	transform: translateY(-50%);
}

.headerSubElements a {
	position: relative;
}

#headerNav .headerSubElements a:hover,
#headerNav .headerSubElements li:hover {
	background-color: #ec880b;
}

#headerNav a:hover,
#headerNav li:hover {
	background-color: #fd9007;
}

#headerNav img {
	height: 45px;
	width: 45px;
}

#headerNav img {
	margin: -20px 0 -20px 0;
}
