.title {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
.container {
	display: flex;
	flex-direction: column;
}
/**  Bienvenida  **/

.Bienvenida {
	width: 100%;
	text-align: center;
	display: flex;
	flex-direction: column;
	text-align: center;
}
/**  page_title  **/

.title {
	padding-top: 250px;
	padding-bottom: 190px;
	text-shadow: 1px 1px 3px #505050;
}

h1 span {
	color: #fd9007;
}

body {
	color: white;
}

.fullwidth {
	width: 100%;
}
