* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	text-decoration: none;
}

body {
	display: flex;
	flex-direction: column;
	font: normal 400 24px/1 'ralewayregular', Arial, sans-serif;
}

.wrap {
	width: 100%;
	position: absolute;
	z-index: -1;
}

.wrap .img {
	background-image: url(../img/alcazaba-de-noche-homeimage-1280prog.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	width: 100%;
	height:750px;
}

/* Menu del header */

.headerContainer {
	height: 106px;
	width: 100%;
	font-size: 16px;
	text-transform: uppercase;
}

#headerNav {
	position: absolute;
	left: 15%;
	width: 70%;
	background-color: rgba(0, 0, 0, 0.542);
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	list-style: none;
	align-items: center;
	box-shadow: 0 2px 10px 0 #474747;
}

#headerNav img {
	height: 45px;
	width: 45px;
}

.headerSub {
	position: relative;
}

.headerSubElements {
	position: absolute;
	display: none;
	background-color: #fd9007;

	font-size: 15px;
	text-transform: capitalize;
	width: 100%;
	list-style: none;
}

.headerSub:hover .headerSubElements {
	display: block;
	z-index: 1;
	margin-top: 44px;
}

#headerNav .headerSubElements a:hover,
#headerNav .headerSubElements li:hover {
	background-color: #ec880b;
}

#headerNav a:hover,
#headerNav li:hover {
	background-color: #fd9007;
}

#headerNav a,
.headerSub a {
	padding: 0 20px;
	display: block;
	height: min-content;
	color: white;
}

a li,
ul li {
	padding: 45px 0;
}

.imagenHome {
	padding: 29px 15px 29px;
}

.headerSubElements {
	display: none;
}

.headerSubElements a li {
	padding: 20px;
}
/*Contenedor del titulo*/

/* Contenedor del contenido de la pagina */
h1 {

    font-size: 61px;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.mainContainer {
	background-color: white;
	width: 85%;
	margin-bottom: 60px;
	align-self: center;
	min-height: 591px;
	box-shadow: 0 2px 10px 0 #474747;
}
.banner{
	background-color: #fd9007;
	width:100%;
	height:100px;
	padding-top: 30px;
	padding-bottom: 20px;
	color:grey;
	text-align: center;
	font: normal 400 28px/1 'raleway', Arial, sans-serif;

}

/* Footer */

.footerContainer {
	border-top: 4px gray solid;
	background-color: white;
	height: 209px;
	width: 100%;
}
