.mainContainer {
	display: flex;
	flex-direction: column;
	font: normal 400 13px/1 'ralewayregular', Arial, sans-serif;
}

.mapa {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.mainContainer h2 {
	font-size: 26px;
	font-family: 'raleway';
	color: #4f4f4f;
	font-weight: 300;
}

hr {
	height: 1px;
	border: 0;
	border-top: 1px solid #cccccc;
	margin: 20px 0px;
}

.title hr {
	width: 974px;
}

.redesSociales hr {
	width: 90px;
}

.imagenMapa {
	width: 974px;
	height: 592.767px;
	box-shadow: 0 2px 10px 0 #474747;
}

.containerRecintos {
	width: 220px;
	height: 560px;
	border: #fd9007 4px solid;
	border-radius: 10px;
	box-shadow: 0 2px 10px 0 #474747;
	display: flex;
	flex-direction: column;
	padding: 20px;
}

.imagenMapa img {
	width: 100%;
	height: auto;
}

.redesSociales {
	color: #808080;
	margin-top: 20px;
	font-weight: 700;
	font-size: 12px;
}

.compartir {
	margin-bottom: 20px;
}

.facebook {
	width: 40px;
	height: 40px;
	background-color: blue;
	border-radius: 50%;
	display: inline-block;
}

.twitter {
	width: 40px;
	height: 40px;
	background-color: rgb(98, 98, 253);
	border-radius: 50%;
	display: inline-block;
}

.containerRecintos ul li {
	font: normal 400 13px/1 'raleway';
	padding: 0.5em;
}

.containerRecintos ul li ul li {
	font: normal 400 13px/1 'raleway';
	padding: 0.1em;
	margin-left: 10px;
	list-style: circle;
}

.containerRecintos ul li ul li ul li {
	font: normal 400 13px/1 'raleway';
	padding: 0.1em;
	margin-left: 20px;
	list-style: square;
}

ul li a {
	text-decoration: none;
	color: #fd9007;
}

.recintosTitulos {
	font-family: 'raleway';
	font-size: 21px;
	align-self: center;
	margin-bottom: 10px;
}
