.mainContainer {
	display: flex;
	flex-direction: column;
	font: normal 400 13px/1 'ralewayregular', Arial, sans-serif;
}

.mapa {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.mainContainer h2 {
	font-size: 26px;
	font-family: 'raleway';
	color: #4f4f4f;
	font-weight: 300;
}

hr {
	height: 1px;
	border: 0;
	border-top: 1px solid #cccccc;
	margin: 20px 0px;
}

.title hr {
	width: 974px;
}

.redesSociales hr {
	width: 90px;
}

.imagenMapa {
	width: 974px;
	height: 592.767px;
	box-shadow: 0 2px 10px 0 #474747;
}

.containerRecintos {
	width: 220px;
	border: #fd9007 4px solid;
	border-radius: 10px;
	box-shadow: 0 2px 10px 0 #474747;
	display: flex;
	flex-direction: column;
	padding: 20px;
}

.containerRecintos li a:hover {
	color: #464646;
}

.imagenMapa img {
	width: 100%;
	height: auto;
}

.redesSociales {
	color: #808080;
	margin-top: 50px;
	font-weight: 700;
	font-size: 12px;
}

.compartir {
	margin-bottom: 20px;
}

.facebook {
	width: 40px;
	height: 40px;
	background-color: #1877f2;
	border-radius: 50%;
	display: inline-block;
	position: relative;
	transition: all 0.1s linear;
}

.facebook:hover {
	background-color: #e9e9e9;
}

.facebook svg {
	width: 90%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	filter: invert(100%) sepia(0%) saturate(7461%) hue-rotate(31deg) brightness(109%) contrast(93%);
}

.twitter {
	width: 40px;
	height: 40px;
	background-color: #00acee;
	border-radius: 50%;
	display: inline-block;
	position: relative;
	transition: all 0.1s linear;
}

.twitter:hover {
	background-color: #e9e9e9;
}

.twitter svg {
	width: 90%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	filter: invert(100%) sepia(0%) saturate(7461%) hue-rotate(31deg) brightness(109%) contrast(93%);
}

.containerRecintos ul li {
	font: normal 400 13px/1 'raleway';
	padding: 0.5em;
}

.containerRecintos ul li ul li {
	font: normal 400 13px/1 'raleway';
	padding: 0.1em;
	margin-left: 10px;
	list-style: circle;
}

.containerRecintos ul li ul li ul li {
	font: normal 400 13px/1 'raleway';
	padding: 0.1em;
	margin-left: 20px;
	list-style: square;
}

ul li a {
	text-decoration: none;
	color: #fd9007;
}

.recintosTitulos {
	font-family: 'raleway';
	font-size: 21px;
	align-self: center;
	margin-bottom: 10px;
}

.informacion {
	display: none;
	width: 974px;
	margin-top: 50px;
	flex-direction: row;
}

.imagenes {
	width: 40%;
	height: 100%;
	padding: 40px;
	display: flex;
	flex-direction: column;
}

.imagen1 {
	position: relative;
}

.textoImagen {
	align-self: flex-start;
	margin-top: 40px;
}

.enlaceImagen {
	color: #fd9007;
}

.enlaceImagen:hover {
	color: #464646;
}

.imagen2 {
	position: relative;
	margin-top: 20px;
}

.textoDescripcion {
	width: 60%;
	height: 100%;
	font: normal 400 'raleway', Arial, sans-serif;
	line-height: 1.4;
	font-size: 16px;
	color: #808080;
	padding: 50px;
}

.textoDescripcion p {
	text-indent: 20px;
}

.informacionImagen {
	width: 100%;
	height: 100%;
}

h2 {
	margin-bottom: 20px;
}

.mapaOpacidad {
	position: absolute;
}

.imagenMapa {
	background-image: url("../img/mapa/mapa/c_actual.jpg");
	background-size: cover;
}

/*
	SLIDER MAPA
*/

.sliderMapaContainer {
	margin-top: 10px;
	width: 100%;
}

.sliderMapa {
	width: 100%;
}

input[type=range] {
	-webkit-appearance: none; /* Hides the slider so that custom slider can be made */
	width: 100%; /* Specific width is required for Firefox. */
	background: transparent; /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
}

input[type=range]:focus {
	outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
	width: 100%;
	cursor: pointer;

	/* Hides the slider so custom styles can be added */
	background: transparent;
	border-color: transparent;
	color: transparent;
}

/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	border: 1px solid #000000;
	height: 20px;
	width: 10px;
	border-radius: 3px;
	background: #ffffff;
	cursor: pointer;
	margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
	border: 1px solid #000000;
	height: 20px;
	width: 10px;
	border-radius: 3px;
	background: #ffffff;
	cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
	border: 1px solid #000000;
	height: 20px;
	width: 10px;
	border-radius: 3px;
	background: #ffffff;
	cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 4px;
	cursor: pointer;
	border: 1px solid #fd9007;
	background: #fd9007;
	border-radius: 9999px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
	background: #fd9007;
}

input[type=range]::-moz-range-track {
	width: 100%;
	height: 4px;
	cursor: pointer;
	border: 1px solid #fd9007;
	background: #fd9007;
	border-radius: 9999px;
}

input[type=range]::-ms-track {
	border: 1px solid #fd9007;
	width: 100%;
	height: 4px;
	cursor: pointer;
	background: transparent;
	border-color: transparent;
	border-width: 16px 0;
	color: transparent;
}
input[type=range]::-ms-fill-lower {
	background: #fd9007;
	border: 0.2px solid #010101;
	border-radius: 2.6px;
	box-shadow: 0 2px 10px 0 #474747;
}
input[type=range]:focus::-ms-fill-lower {
	background: #fd9007;
}
input[type=range]::-ms-fill-upper {
	background: #fd9007;
	border: 0.2px solid #010101;
	border-radius: 2.6px;
	box-shadow: 0 2px 10px 0 #474747;
}
input[type=range]:focus::-ms-fill-upper {
	background: #fd9007;
}
