.headerImg {
	width: 100%;
	position: absolute;
	z-index: -1;
}

.headerImg .img {
	background-image: url(../img/alcazaba-de-noche-homeimage-1280prog.jpg);
	background-position: 50% 50%;
	width: 100vw;
	height: 181px;
}
