* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

body {
	display: flex;
	flex-direction: column;
	font: normal 400 24px/1 'ralewayregular', Arial, sans-serif;
}

.wrap {
	width: 100%;
	position: absolute;
	z-index: -1;
}

.wrap .img {
	background-image: url(../img/Inicio/alcazaba-de-noche-homeimage-1280prog.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	width: 100%;
	height:750px;
}

/* Menu del header */

.headerContainer {
	height: 106px;
	width: 100%;
	font-size: 16px;
	text-transform: uppercase;
	display: flex;
	justify-content: center;
}

#headerNav {
	width: 1332px;
	background-color: rgba(0, 0, 0, 0.542);
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	list-style: none;
	align-items: center;
	box-shadow: 0 2px 10px 0 #474747;
}

#headerNav img {
	height: 45px;
	width: 45px;
}

.headerSub {
	position: relative;
}

.headerSubElements {
	position: absolute;
	display: none;
	background-color: #fd9007;

	font-size: 15px;
	text-transform: capitalize;
	width: 100%;
	list-style: none;
}

.headerSub:hover .headerSubElements {
	display: block;
	z-index: 1;
	margin-top: 44px;
}

#headerNav .headerSubElements a:hover,
#headerNav .headerSubElements li:hover {
	background-color: #ec880b;
}

#headerNav a:hover,
#headerNav li:hover {
	background-color: #fd9007;
}

#headerNav a,
.headerSub a {
	padding: 0 20px;
	display: block;
	height: min-content;
	color: white;
}

a li,
ul li {
	padding: 45px 0;
}

.imagenHome {
	padding: 29px 15px 29px;
}

.headerSubElements {
	display: none;
}

.headerSubElements a li {
	padding: 20px;
}

/*Contenedor del titulo*/

/* Contenedor del contenido de la pagina */
h1 {

    font-size: 61px;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.mainContainer {
	display:flex;
	flex-direction: column;
	background-color: white;
	width: 85%;
	margin: 0px 0px 20px;
	margin-bottom: 60px;
	align-self: center;
	min-height: 1500px;
	box-shadow: 0 2px 10px 0 #474747;
}
.banner{
	background-color: #fd9007;
	width:100%;
	height:100px;
	padding-top: 30px;
	padding-bottom: 20px;
	color:grey;
	text-align: center;
	font: normal 400 28px/1 'raleway', Arial, sans-serif;

}
.folletos{
	display:flex;
	justify-content: center;
	width:100%;

	margin-top: 30px;
	margin-bottom: 60px;

}
hr.separe {
    height: 10px;
    background: url(../img/Inicio/four_gray_px.png) repeat-x 50% 50%;
    border: 0 none;
    margin-top: 40px;
    margin-bottom: 40px;
	}
.article-text{
	padding:40px 0 0;
	font: normal 400 16px/1 'raleway', Arial, sans-serif;
	line-height: 1.4;

}
h2{
	margin-left: 30px;
	color:grey;
	font: normal 400 24px/1 'raleway', Arial, sans-serif;
	margin-bottom: 25px;
	font-weight: 400;
}
h3{
	margin-top: 20px;
	margin-left: 30px;
 	font: normal 400 21px/1 'raleway', Arial, sans-serif;
	margin-bottom: 1px;


}
.slide-container li{
	width:25%;
	float:left;


}
.box{
 border-width: 1px;
 border-style: solid;
 padding: 6px;
 position: relative;
 border-color: #e1e1e1;
 margin-left:30px;
 margin-right: 20px;

}
.box_inner{
	position: relative;

}
a{
	color:#fd9007;
}
a:hover{
	color:black;
}
li p{
	margin-top: 10px;
	margin-left: 30px;
	color:grey;
	line-height: 1.7;
	font: normal 400 13px 'raleway', Arial, sans-serif;
}
/*Footer*/
.footerContainer {
	border-top: 4px gray solid;
	background-color: white;
	height: 209px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	font: normal 400 15px 'raleway', Arial, sans-serif;
}

.footerColumns {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	width: 1332px;
}

.footerColumns > div {
	margin-right: 100px;
}

.copyright {
	color: #9d9d9d;
	font-family: "raleway";
	font-size: 13px;
	width: 1332px;
}

.copyright hr {
	margin: 2px 0px;
	border-top: 1px dotted #808080;
}

.copyright p {
	text-align: center;
	margin: 20px 0;
}

.redesFooter .facebookFooter {
	margin-left: 30px;
	width: 40px;
	height: 40px;
	background-color: #1877f2;
	border-radius: 15%;
	display: inline-block;
	position: relative;
	transition: all 0.1s linear;
}

.redesFooter .facebookFooter:hover {
	background-color: #e9e9e9;
}

.redesFooter .facebookFooter svg {
	width: 90%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	filter: invert(100%) sepia(0%) saturate(7461%) hue-rotate(31deg) brightness(109%) contrast(93%);
}

.redesFooter .twitterFooter {
	width: 40px;
	height: 40px;
	background-color: #00acee;
	border-radius: 15%;
	display: inline-block;
	position: relative;
	transition: all 0.1s linear;
}

.redesFooter .twitterFooter:hover {
	background-color: #e9e9e9;
}

.redesFooter .twitterFooter svg {
	width: 90%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	filter: invert(100%) sepia(0%) saturate(7461%) hue-rotate(31deg) brightness(109%) contrast(93%);
}

.redesFooter .vimeoFooter {
	width: 40px;
	height: 40px;
	background-color: #1a2e3b;
	border-radius: 15%;
	display: inline-block;
	position: relative;
	transition: all 0.1s linear;
}

.redesFooter .vimeoFooter:hover {
	background-color: #e9e9e9;
}

.redesFooter .vimeoFooter svg {
	width: 90%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	filter: invert(100%) sepia(0%) saturate(7461%) hue-rotate(31deg) brightness(109%) contrast(93%);
}

.footerContainer h3 {
	color: #5a5a5a;
	margin-top: 30px;

	margin-bottom: 15px;
 font: normal 400 15px 'ralewaybold', Arial, sans-serif;
}

.entradas div {
	margin: 7px;
	margin-left: 40px;
	position: relative;
}

.entradas div a {
	color: #fd9007;
}

.entradas div a:hover {
	color: #464646;
}

.entradas div a::before {
	content: "\00bb";
	position: absolute;
	left: -10px;
	top: -1px;
}

.entradas,
.redesFooter {
	width: 295px;
}

.celiaViñas {
	width: 160px;
}

.celiaViñas div {
	margin: 7px;
	margin-left: 40px;
	position: relative;
}

.celiaViñas div a {
	color: #fd9007;
}

.celiaViñas div a:hover {
	color: #464646;
}

.celiaViñas div a::before {

	content: "\00bb";
	position: absolute;
	left: -10px;
	top: -1px;
}
.fullwidth {
	width: 100%;
}

